<% if (typeof user !== 'undefined' && user) { %>
    </div> <!-- close content-body -->
  </main> <!-- close main-content -->
<% } %>
</div> <!-- close app-container -->

<!-- Global JS -->
<script src="/js/main.js"></script>
</body>
</html>
